.Navbar {
  background-color: green;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}

.Logo {
  color: white;
  text-decoration: none;
  margin: 0px;
}

.Button {
  padding: 4px;
  font-size: 20px;
  margin: 0px 6px;
  color: black;
  background-color: white;
  border-radius: 4px;
  margin: 1px solid black;
  padding: 4px 12px;
}

.Buttons {
  display: flex;
}
